@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.main {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.content {
  width: 230px;
  float: left;
  margin-left: 20px;
  padding: 20px;
  background-color: #3274ae;
  
}

.content_box {
  padding: 20px;
  border: 10px solid #022336;
  background-color: #eaf4ff;
}

.content:first-child {
  margin-left: 0px;
}

.content_text {
  font-size: 16px;
  line-height: 16px;
}