@charset "UTF-8";

/* 回答はここに書いてね */



.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7__float__box {
  width: 225px;
  float: left;
  padding: 10px;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #FFF;
}

.q7__float__box:first-child {
  margin-left: 0;
}



.table__main {
  display: table;
}


.table__box {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  width: 225px;
}

.table__box:first-child {
  padding-left: 0;
}

.table__box__text {
  font-size: 16px;
}


.inline__box {
  font-size: 0px;
}

.inline__text {
  display: inline-block;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 16px;
}

.inline__text:first-child {
  margin-left: 0;
}





.flex__main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex__box {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}



.bottom_box {
  font-size: 0;
}

.bottom_box_left {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.bottom_box_right{
  display: inline-block;
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
}

.bottom_box_text {
  font-size: 16px;
}


/* 回答はここに書いてね */
