@charset "UTF-8";

/* 回答はここに書いてね */

.float_box::after {
  display: block;
  content: "";
  clear: both;
}

.float_left_box {
  float: left;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.float_right_box {
  float: right;
  width: 225px;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.table_main {
  display: table;
}

.table_box_left {
  display: table-cell;
  vertical-align: middle;
  width: 225px;
}

.table_box_right {
  display: table-cell;
  vertical-align: middle;
  width: 225px;
  padding-left: 50px;
}

.table_box_left_box {
  font-size: 16px;
}

.table_box_right_box {
  font-size: 16px;
}

.inline_main {
  font-size: 0px;
}

.inline_left_box {
  display: inline-block;
  width: 225px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}


.inline_right_box {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.flex_main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex_box {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

.bottom_box {
  font-size: 0;
}

.bottom_box_left {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.bottom_box_right{
  display: inline-block;
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
}

.bottom_box_text {
  font-size: 16px;
}


/* 回答はここに書いてね */
