@charset "UTF-8";

/* 回答はここに書いてね */
.parent_box {
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf1f2;
}

.parent:first-child {
  margin-top: 0px;
}

.parent {
  display: table;
  margin-top: 20px;
  width: 100%;
}

.child {
  display: table-cell;
  text-align: center;
  padding: 20px 0px;
}

.primary_pink {
  width: 100px;
  background-color: #fdc8b8;
}

.secondary_purple {
  background-color: #e0abd9;
}

.third_blue {
  width: 100px;
  background-color: #b6d8ed;
}

.primary_yellow {
  background-color: #e5d32e;
}

.secondary_red {
  background-color: #ec8f9a;
}

.third_green {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
