@charset "UTF-8";

/* 回答はここに書いてね */

.content {
  margin: 0;
}

.content_box {
  table-layout: fixed;
  width: 100%;
  text-align: center;

}

.content_box thead th {
  padding: 10px;
  background-color: #2244aa;
  border: solid #dedede 1px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.content_box tbody td {
  padding: 10px;
  border: solid #dedede 1px;
}

.content_box tfoot td {
  padding: 10px;
  border: solid #dedede 1px;
}

.content_box tbody th{
  background-color: #2244aa;
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.content_box tfoot th{
  background-color: #2244aa;
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.content_box tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.content_box tfoot {
  border-top: dashed #000 2px;
}





/* 回答はここに書いてね */
