@charset "UTF-8";

/* 回答はここに書いてね */

.table_box {
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.table_box th,td {
  border: solid #dedede 1px;
  padding: 10px;
}

.table_box tr:nth-child(even) {
  background-color: #ecf1f2;
}

.table_box thead,th:first-child {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.teble_box tr,th,td {
  font-size: 16px;
  line-height: 22px;
}

.table_box tfoot {
  border-top: dashed #000 2px;
}



/* 回答はここに書いてね */
