@charset "UTF-8";

/* 回答はここに書いてね */


.text {
  text-align: center;
}

.text_child {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90px;
  background-color: #e6f2ff;
}

.sample_margn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e6f2ff;
  text-align: center;
  margin: 0 auto;
  Width: 90px;
}

.table_wrapper{
  display: table;
}

.table {
  display: table-cell;
  text-align: center;
  background-color: #fff;
  vertical-align: middle;
}

.child {
  vertical-align: middle;
}


/* 回答はここに書いてね */


